asgiref==3.2.10
certifi==2020.11.8
chardet==3.0.4
DateTime==4.3
Django==3.1.1
django-cors-headers==3.5.0
django-rest-auth==0.9.5
django-rest-framework==0.1.0
djangorestframework==3.11.1
geographiclib==1.50
geopy==2.0.0
gunicorn==20.0.4
idna==2.10
mysqlclient==2.0.1
ortools==7.8.7959
protobuf==3.13.0
pymssql==2.1.4
PyMySQL==0.10.0
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.11
zope.interface==5.1.0
